{
  "Version": "2012-10-17",
  "Statement": [{
    "Sid": "DenyDisablingOrDeletingLogKmsKey",
    "Effect": "Deny",
    "Action": [
      "kms:DisableKey",
      "kms:ScheduleKeyDeletion",
      "kms:DisableKeyRotation"
    ],
    "Resource": "${kms_arn}"
  }]
}
